<div class="container mb-5">
  <div class="bio">
    BIO
  </div>
  <div class="bio-detail">
    My name might sound a bit strange, but I assure you, it is the name my parents gave me. I am from Dhaka, the bustling heart of Bangladesh. Despite its hectic pace,
    there is a unique charm to the city that inevitably captivates its inhabitants. Dhaka is
    ever-thriving, a place where something exciting is always on the horizon.<br>
    Yet, my heart holds a special place for Chittagong, my hometown—a wonderful city nestled amid hills and the sea.<br><br>
    I completed my Bachelor of Science in Electrical and Electronic Engineering from Ahsanullah University of Science and Technology in June 2022. 
    My time at university has been the best part of my life so far. From the nerve-wracking lab exams to mastering the complexities of
    Engineering math, these experiences were intertwined with building an amazing circle of friends and exploring the
    wonders of Bangladesh during semester breaks.<br><br>
    Upon completing my Bachelor's in Electrical and Electronic Engineering, I started my journey as a
    programmer. The excitement of my first job still resonates with me. Alongside this professional path, my passion for
    painting, nurtured since a young age, continued to flourish. Each stroke of my brush reminds me different moments
    and emotions—a reflection of my feelings, struggles, and triumphs.<br><br>

    Furthermore, I dedicated a decade to theater acting, starting from my childhood. These varied
    experiences have woven together to shape the intricate tapestry of my life, each representing a fragment of my mind
    in different situations.
  </div>
  <div class="row" style="margin-top: 5%; margin-left:5%">
    <div class="col-4 animate__animated animate__fadeInUp">
      <div class="bhub hoverable">
        <svg xmlns="http://www.w3.org/2000/svg" style="margin-left:10%" width="50" height="60" 
          class="bi bi-book-half" viewBox="0 0 16 16">
          <path
            d="M8.5 2.687c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492V2.687zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783" />
        </svg> Education
      </div>
      <div class="row education" style="margin-left:8%; margin-bottom: 5%;">
        <p><b>Bsc in ELECTRICAL AND ELECTRONIC ENGINEERING (2022)</b><br>
          Ahsanullah University of Science and Technology, Dhaka</p>

        <p><b>HIGHER SECONDARY CERTIFICATE (2016)</b><br>
          Ispahani Girls' School and College, Dhaka</p>

        <p><b>SECONDARY SCHOOL CERTIFICATE(2014)</b><br>
          Ispahani Girls' School and College, Dhaka</p>

      </div>
    </div>
    <div class="col-4 animate__animated_2 animate__fadeInUp">
      <div class="bhub hoverable">
        <svg xmlns="http://www.w3.org/2000/svg" style="margin-left:9%" width="50" height="60"  class="bi bi-laptop" viewBox="0 0 16 16">
          <path d="M13.5 3a.5.5 0 0 1 .5.5V11H2V3.5a.5.5 0 0 1 .5-.5zm-11-1A1.5 1.5 0 0 0 1 3.5V12h14V3.5A1.5 1.5 0 0 0 13.5 2zM0 12.5h16a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 12.5"/>
        </svg> Career
      </div>
      <div class="row education" style="margin-left:8%; margin-bottom: 5%;">
        <p><b>Frontend Programmer(November 2022-2023)</b><br>
          Synesis IT PLC, Dhaka</p>

        <p><b>One-week Industrial Training at Energypac</b><br>
          Savar, Dhaka</p>

        <p><b>One-week IC Mask Design Training at ULKASEMI Limited
        </b><br>
          Karwan Bazar, Dhaka</p>

      </div>
    </div>

    <div class="col-4 animate__animated_3 animate__fadeInUp">
      <div class="bhub hoverable"> 
        <svg xmlns="http://www.w3.org/2000/svg" style="margin-left:9%" width="50" height="60"  class="bi bi-vector-pen " viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M10.646.646a.5.5 0 0 1 .708 0l4 4a.5.5 0 0 1 0 .708l-1.902 1.902-.829 3.313a1.5 1.5 0 0 1-1.024 1.073L1.254 14.746 4.358 4.4A1.5 1.5 0 0 1 5.43 3.377l3.313-.828L10.646.646zm-1.8 2.908-3.173.793a.5.5 0 0 0-.358.342l-2.57 8.565 8.567-2.57a.5.5 0 0 0 .34-.357l.794-3.174-3.6-3.6z"/>
          <path fill-rule="evenodd" d="M2.832 13.228 8 9a1 1 0 1 0-1-1l-4.228 5.168-.026.086.086-.026z"/>
        </svg> Interests
      </div>
      <div class="row education" style="margin-left:8%; margin-bottom: 5%;">
       <div class="col-2 ">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"  class="bi bi-palette-fill" viewBox="0 0 16 16">
          <path d="M12.433 10.07C14.133 10.585 16 11.15 16 8a8 8 0 1 0-8 8c1.996 0 1.826-1.504 1.649-3.08-.124-1.101-.252-2.237.351-2.92.465-.527 1.42-.237 2.433.07M8 5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m4.5 3a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3M5 6.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m.5 6.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3"/>
        </svg>
       </div>
       <div class="col-2">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"   class="bi bi-book" viewBox="0 0 16 16">
          <path d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811V2.828zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492V2.687zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783"/>
        </svg>
       </div>

       <div class="col-2">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"  class="bi bi-music-note-beamed" viewBox="0 0 16 16">
          <path d="M6 13c0 1.105-1.12 2-2.5 2S1 14.105 1 13c0-1.104 1.12-2 2.5-2s2.5.896 2.5 2m9-2c0 1.105-1.12 2-2.5 2s-2.5-.895-2.5-2 1.12-2 2.5-2 2.5.895 2.5 2"/>
          <path fill-rule="evenodd" d="M14 11V2h1v9zM6 3v10H5V3z"/>
          <path d="M5 2.905a1 1 0 0 1 .9-.995l8-.8a1 1 0 0 1 1.1.995V3L5 4z"/>
        </svg>
       </div>

      </div>

      <div class="row education" style="margin-left:8%; margin-bottom: 5%;">
        <div class="col-2">
          <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" class="bi bi-suitcase2-fill" viewBox="0 0 16 16">
            <path d="M6.5 0a.5.5 0 0 0-.5.5V3H4.5A1.5 1.5 0 0 0 3 4.5v9a1.5 1.5 0 0 0 1.003 1.416A1 1 0 1 0 6 15h4a1 1 0 1 0 1.996-.084A1.5 1.5 0 0 0 13 13.5v-9A1.5 1.5 0 0 0 11.5 3H10V.5a.5.5 0 0 0-.5-.5zM9 3H7V1h2zM4 7V6h8v1z"/>
          </svg>
        </div>
        <div class="col-2">
          <svg xmlns="http://www.w3.org/2000/svg"  width="30" height="30" class="bi bi-binoculars-fill" viewBox="0 0 16 16">
            <path d="M4.5 1A1.5 1.5 0 0 0 3 2.5V3h4v-.5A1.5 1.5 0 0 0 5.5 1zM7 4v1h2V4h4v.882a.5.5 0 0 0 .276.447l.895.447A1.5 1.5 0 0 1 15 7.118V13H9v-1.5a.5.5 0 0 1 .146-.354l.854-.853V9.5a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v.793l.854.853A.5.5 0 0 1 7 11.5V13H1V7.118a1.5 1.5 0 0 1 .83-1.342l.894-.447A.5.5 0 0 0 3 4.882V4zM1 14v.5A1.5 1.5 0 0 0 2.5 16h3A1.5 1.5 0 0 0 7 14.5V14zm8 0v.5a1.5 1.5 0 0 0 1.5 1.5h3a1.5 1.5 0 0 0 1.5-1.5V14zm4-11H9v-.5A1.5 1.5 0 0 1 10.5 1h1A1.5 1.5 0 0 1 13 2.5z"/>
          </svg>
        </div>
 
       </div>
    </div>
  </div>

</div>