.bio-detail{
    /* font-family:'Gabriola'; */
    font-family:'Aptos Display';
    font-size:16px;
    color: white;
    margin-left:100px;
    margin-right:200px;
    margin-top: 50px;
    opacity: 0;
    animation: fade 3s forwards;
}

.education{
    font-family:'Aptos Display';
    font-size:14px;
    color: white;
    fill:white;
    opacity: 0;
    animation: fade 4s forwards;
}
.education:hover {
    font-weight: bold;
    color: #000;
    fill: #010101;

  }

.bhub{
    font-family:'Ink Free';
    font-size:18px;
    color: white;
    fill:  white;
    font-weight: bold;
    opacity: 0;
    animation: fade 4s forwards;
    
}

.project{
    font-family:'Ink Free';
    font-size:24px;
    color: white;
    fill:  white;
    font-weight: bold;
    opacity: 0;
    animation: fade 4s forwards;

}

.project-detail{
    font-family:'Aptos Display';
    font-size:16px;
    color: white;
    opacity: 0;
    animation: fade 4s forwards;
}

.bhub:hover {
    font-weight: bold;
    font-size: 22px;
    color: #000;
    fill: #010101;

  }

  .link-text {
    font-family: 'Ink Free';
    font-size: 16px;
    color: black;
    cursor: pointer; /* To make the text look clickable */
    text-decoration: underline; /* To simulate a link appearance */
    font-weight: bold;
    opacity: 0;
    animation: fade 3s forwards;
  }
.work-picture{
    height: 80px;
    width: 150px;
    border-radius: 5%;
    border-style:solid;
    border-color: rgb(246, 246, 246);
    box-shadow: 0 4px 8px 0 rgb(255, 253, 254);
    transition: transform 0.3s, filter 0.3s;
    filter: brightness(80%);
    opacity: 0;
    animation: fade 5s forwards;
}

.image-container:hover .work-picture {
    transform: scale(1);
    height: 370px;
    width: 630px;
    filter: brightness(100%);
    position:fixed;
    top: 5%;
    left: 25%;
    transform: translate(0%, -50%, -50%, -50%);
    box-shadow: 0 4px 8px 0 rgb(6, 6, 6);
    z-index: 999; 
  }

  @keyframes fade {
    to {
      opacity: 1;
    }
  }