.bio-detail{
    /* font-family:'Gabriola'; */
    font-family:'Aptos Display';
    font-size:16px;
    color: white;
    margin-left:100px;
    margin-right:200px;
    margin-top: 50px;
    opacity: 0;
    animation: fade 3s forwards;
}

.education{
    font-family:'Aptos Display';
    font-size:14px;
    color: white;
    fill:white;
    opacity: 0;
    animation: fade 4s forwards;
}
.education:hover {
    font-weight: bold;
    color: #000;
    fill: #010101;

  }

.bhub{
    font-family:'Ink Free';
    font-size:18px;
    color: white;
    fill:  white;
    font-weight: bold;
    opacity: 0;
    animation: fade 4s forwards;
    
}

.project{
    font-family:'Ink Free';
    font-size:24px;
    color: white;
    fill:  white;
    font-weight: bold;
    opacity: 0;
    animation: fade 4s forwards;

}

.project-detail{
    font-family:'Aptos Display';
    font-size:16px;
    color: white;
    opacity: 0;
    animation: fade 4s forwards;
}

.bhub:hover {
    font-weight: bold;
    font-size: 22px;
    color: #000;
    fill: #010101;

  }

  .link-text {
    font-family: 'Ink Free';
    font-size: 16px;
    color: black;
    cursor: pointer; /* To make the text look clickable */
    text-decoration: underline; /* To simulate a link appearance */
    font-weight: bold;
    opacity: 0;
    animation: fade 3s forwards;
  }
.work-picture{
    height: 80px;
    width: 150px;
    border-radius: 5%;
    border-style:solid;
    border-color: rgb(246, 246, 246);
    box-shadow: 0 4px 8px 0 rgb(255, 253, 254);
    transition: transform 0.3s, filter 0.3s;
    filter: brightness(80%);
    opacity: 0;
    animation: fade 5s forwards;
}

.image-container:hover .work-picture {
    transform: scale(1);
    height: 370px;
    width: 630px;
    filter: brightness(100%);
    position:fixed;
    top: 5%;
    left: 25%;
    transform: translate(0%, -50%, -50%, -50%);
    box-shadow: 0 4px 8px 0 rgb(6, 6, 6);
    z-index: 999; 
  }

  @keyframes fade {
    to {
      opacity: 1;
    }
  }

  @media screen and (max-width: 768px) {
    .bg-1 {
      padding: 20px; /* Adjust padding for smaller screens */
    }
    
    .intro-heading {
      font-size: 42px; /* Decrease font size for smaller screens */
      margin-top: 30px; /* Adjust margin top */
      margin-left: 20px; /* Adjust margin left */
    }
    
    .text-over-image {
      font-size: 18px; /* Decrease font size for smaller screens */
      margin-top: 20px; /* Adjust margin top */
      margin-left: 20px; /* Adjust margin left */
    }
    
    .para-1 {
      margin-top: 20px; /* Adjust margin top */
      margin-left: 20px; /* Adjust margin left */
    }
    
    .para-2 {
      margin-top: 100px; /* Adjust margin top */
      margin-left: 20px; /* Adjust margin left */
    }
    
    .self-img {
      height: 300px; /* Decrease image height for smaller screens */
      width: 250px; /* Decrease image width for smaller screens */
    }
    
    nav {
      padding-left: 20px; /* Adjust padding left for smaller screens */
    }
    .horizontal-nav a {
      padding: 10px; /* Decrease padding for smaller screens */
    }
  }
  
  /* Media query for even smaller screens */
  @media screen and (max-width: 480px) {
    .bg-1 {
      padding: 10px; /* Further adjust padding for very small screens */
    }
    
    .intro-heading {
      font-size: 32px; /* Decrease font size for very small screens */
    }
    
    .text-over-image {
      font-size: 16px; /* Decrease font size for very small screens */
    }
    
    .para-1 {
      margin-top: 10px; /* Further adjust margin top for very small screens */
    }
    
    .para-2 {
      margin-top: 50px; /* Further adjust margin top for very small screens */
    }
    
    .self-img {
      height: 200px; /* Decrease image height for very small screens */
      width: 180px; /* Decrease image width for very small screens */
    }
    
    nav {
      padding-left: 10px; /* Further adjust padding left for very small screens */
    }
  
    .horizontal-nav a {
      padding: 5px; /* Further decrease padding for very small screens */
    }
  }