<div class="row art_container">
    <div class="col-4 position-relative">
        <img src="assets/art/yrr.jpeg" alt="Description of the image" class="first-img">
    </div>

    <div class="col-8 ">
        <div class="bhub fade-in" style="text-align: center; margin-top: 10%; color: #00ccff">
            Through art, I find healing, inspiration, and a timeless connection to my innermost self.
            Each painting of mine holds a unique emotion, reflecting the experiences I had in life.<br>
            Some pieces remind me of a tough time that I passed through and come this far,
            while others bring back cherished memories spent with loved ones.<br> And then there are those spontaneous
            creations,
            when I was just having a weekend and found something creative to pass my time on.
        </div>
    </div>
    <div class="row" style="margin-top: 3%; margin-left: 2%;">
        <div class="col-10 animate__animated_2 animate__fadeInUp">
            <div class="bhub" style=" font-size:18px ;">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" class="bi bi-palette-fill"
                viewBox="0 0 16 16">
                <defs>
                    <linearGradient id="paint" x1="0%" y1="0%" x2="100%" y2="100%">
                        <stop offset="0%" style="stop-color: #FF5733;"></stop>
                        <stop offset="50%" style="stop-color: #1CB5E0;"></stop>
                        <stop offset="100%" style="stop-color:  #6B47FF"></stop>
                    </linearGradient>
                </defs>
                <path fill="url(#paint)"
                    d="M12.433 10.07C14.133 10.585 16 11.15 16 8a8 8 0 1 0-8 8c1.996 0 1.826-1.504 1.649-3.08-.124-1.101-.252-2.237.351-2.92.465-.527 1.42-.237 2.433.07M8 5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m4.5 3a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3M5 6.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m.5 6.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3" />
            </svg>
            <span style="background: -webkit-linear-gradient(left, #FF5733, #1CB5E0, #6B47FF); -webkit-background-clip: text; -webkit-text-fill-color: transparent; font-size: 22px; border-bottom: 2px solid #FF5733; border-radius: 0 0 50% 70%;">
                Paintings
            </span>
            <!-- #FF5733, #1CB5E0, #6B47FF -->
          
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 2%; margin-left: 8%;">
        <div class="col-2 image-container mt-4" >
            <img src="assets/art/WhatsApp Image 2024-02-07 at 11.32.28 AM.jpeg" alt="Description of the image"
                class="work-picture">
        </div>
        <div class="col-2 image-container mt-4" >
            <img src="assets/art/WhatsApp Image 2024-02-07 at 11.31.58 AM.jpeg" alt="Description of the image"
                class="work-picture">
        </div>
        <div class="col-2 image-container mt-4">
            <img src="assets/art/erwr.jpeg" alt="Description of the image" class="work-picture">
        </div>

        <div class="col-2 image-container_1" >
            <img src="assets/art/eyy.jpeg" alt="Description of the image" class="long-picture">
        </div>
        <div class="col-2 image-container_1" >
            <img src="assets/art/WhatsApp Image 2024-02-07 at 11.46.31 AM.jpeg" alt="Description of the image" class="long-picture">
        </div>
    </div>

    <div class="row" style="margin-top: 2%; margin-left: 8%;">
       
        <div class="col-2 image-container_1">
            <img src="assets/art/gfgd.jpeg" alt="Description of the image" class="long-picture">
        </div>
        <div class="col-2 image-container_1">
            <img src="assets/art/gg.jpeg" alt="Description of the image" class="long-picture">
        </div>

        <div class="col-2 image-container_1" >
            <img src="assets/art/ggjj.jpeg" alt="Description of the image" class="long-picture">
        </div>
        <div class="col-2 image-container_1" >
            <img src="assets/art/hth.jpeg" alt="Description of the image" class="long-picture">
        </div>
        <div class="col-2 image-container_1" >
            <img src="assets/art/ww.jpeg" alt="Description of the image" class="long-picture">
        </div>
    </div>

    <div class="row" style="margin-top: 2%; margin-left: 8%;">
      
        <div class="col-2 image-container_1">
            <img src="assets/art/iyuiyu.jpeg" alt="Description of the image" class="long-picture">
        </div>
        <div class="col-2 image-container_1" >
            <img src="assets/art/oo.jpeg" alt="Description of the image" class="long-picture">
        </div>
        <div class="col-2 image-container_1" >
            <img src="assets/art/rtyrt.jpeg" alt="Description of the image" class="long-picture">
        </div>
        <div class="col-2 image-container_1">
            <img src="assets/art/sdf.jpeg" alt="Description of the image" class="long-picture">
        </div>
        <div class="col-2 image-container_1">
            <img src="assets/art/WhatsApp Image 2024-02-07 at 11.46.22 AM.jpeg" alt="Description of the image"
                class="long-picture">
        </div>
    </div>

    <div class="row" style="margin-top: 2%; margin-left: 8%;">
        <div class="col-2 image-container_1" >
            <img src="assets/art/tyutu.jpeg" alt="Description of the image" class="long-picture">
        </div>
        <div class="col-2 image-container_1" >
            <img src="assets/art/tyuyu.jpeg" alt="Description of the image" class="long-picture">
        </div>
        <div class="col-2 image-container_1">
            <img src="assets/art/vcv.jpeg" alt="Description of the image" class="long-picture">
        </div>
        <div class="col-2 image-container_1" >
            <img src="assets/art/WhatsApp Image 2024-02-07 at 11.33.14 AM.jpeg" alt="Description of the image"
                class="long-picture">
        </div>
        <div class="col-2 image-container_1" >
            <img src="assets/art/WhatsApp Image 2024-02-07 at 11.39.28 AM.jpeg" alt="Description of the image"
                class="long-picture">
        </div>
    </div>

    

  

    <div class="row" style="margin-top: 6%; margin-left: 2%;">
        <div class="col-10 animate__animated_2 animate__fadeInUp">
            <div class="bhub" style=" font-size:18px ;">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                class="bi bi-person-walking" viewBox="0 0 16 16">
                <defs>
                    <linearGradient id="paint2" x1="0%" y1="0%" x2="100%" y2="100%">
                        <stop offset="0%" style="stop-color: #FF5733;"></stop>
                        <stop offset="50%" style="stop-color: #cce01c;"></stop>
                        <stop offset="100%" style="stop-color: #DC143C;"></stop>
                    </linearGradient>
                </defs>
                <path fill="url(#paint2)"
                    d="M9.5 1.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0M6.44 3.752A.75.75 0 0 1 7 3.5h1.445c.742 0 1.32.643 1.243 1.38l-.43 4.083a1.8 1.8 0 0 1-.088.395l-.318.906.213.242a.8.8 0 0 1 .114.175l2 4.25a.75.75 0 1 1-1.357.638l-1.956-4.154-1.68-1.921A.75.75 0 0 1 6 8.96l.138-2.613-.435.489-.464 2.786a.75.75 0 1 1-1.48-.246l.5-3a.75.75 0 0 1 .18-.375l2-2.25Z" />
                <path fill="url(#paint2)"
                    d="M6.25 11.745v-1.418l1.204 1.375.261.524a.8.8 0 0 1-.12.231l-2.5 3.25a.75.75 0 1 1-1.19-.914zm4.22-4.215-.494-.494.205-1.843.006-.067 1.124 1.124h1.44a.75.75 0 0 1 0 1.5H11a.75.75 0 0 1-.531-.22Z" />
            </svg>
            <span style="background: -webkit-linear-gradient(left, #FF5733, #cce01c,  #DC143C); -webkit-background-clip: text; -webkit-text-fill-color: transparent;">
                Theater Artist
            </span>
            </div>
        </div>
    </div>

    <div class="col-6 position-relative">
        <img src="assets/art/eer.jpeg" alt="Description of the image" class="second-img">
    </div>

    <div class="col-5 ">
        <div class="bhub fade-in" style=" margin-top: 10%; color: #FFA500">
            I entered into the world of theater as a child artist.
            For all these years, alongside my academic pursuits I always managed time for Theater.<br> While acting remained
            my primary focus,
            I actively participated in various aspects of theater production
            . This included assisting costume designers, managing props, setting up stages, and even overseeing event
            management.<br>
            I've had the opportunity to act in dramas staged in various locations across Bangladesh and India.
        </div>
    </div>

    <div class="row" style="margin-top: 2%; margin-left: 8%; margin-bottom: 8%;">
        <div class="col-3 image-container mt-4" >
            <img src="assets/art/stage-3.jpeg" alt="Description of the image"
                class="work-picture">
        </div>
        <div class="col-3 image-container mt-4" >
            <img src="assets/art/stage-1.jpeg" alt="Description of the image"
                class="work-picture">
        </div>
        <div class="col-3 image-container mt-4">
            <img src="assets/art/stage-2.jpeg" alt="Description of the image" class="work-picture">
        </div>

        <div class="col-3 image-container" >
            <img src="assets/art/stage=4.jpeg" alt="Description of the image" class="work-picture">
        </div>
      
    </div>

   

</div>