<div class="container col-10 bg-1 mt-5" >
  <div class="row bg-2" style="height: 650px;">
    <div class="row intro-heading ">Hello, this is November Tuesday
    </div>
    <div class="row img-1">
      <div class="col-6 para-1">
        <div class="text-over-image fade-in">
          <span class="big-letter"> W</span>elcome to my portfolio!<br> 
         I am an Electrical and Electronic Engineer,
          and also skilled <br> as a Frontend Developer.<br>
          My EEE background gives me a deep understanding of circuits and systems,<br> 
          Additionally, my programming skills enable me to craft websites and user interfaces.


        </div>
        <div class="para-2">
          <span class="big-letter">W</span>hile I navigate the realms of circuits and code,<br>
          I simultaneously ,explore the world of colors and imagination on canvas.<br>
         Of course, Mixing technology with creativity is FUN!
          
          
        </div>
      </div>
      
      <div class="col-4 position-relative">
        <img src="assets/pictures/vbfbcfd.jpg" alt="Description of the image" class="self-img">
      </div>
    </div>

  </div>
  <nav>
    <ul class="horizontal-nav mt-2 ml-4">
      <li><a routerLink="/about_me" routerLinkActive="active-link " >About me</a></li>
      <li><a routerLink="/projects_training" routerLinkActive="active-link">Projects & Training</a></li>
      <li><a routerLink="/work_history" routerLinkActive="active-link">Work History</a></li>
      <li><a routerLink="/artistry" routerLinkActive="active-link">Artistry</a></li>
      <!-- <li><a routerLink="/certificates" routerLinkActive="active-link">Travel</a></li> -->
      <li><a routerLink="/contact" routerLinkActive="active-link">Contact</a></li>
    </ul>
  </nav>
  <router-outlet></router-outlet>
  <div class="footer col-12 " style="height: 35px; background-color:#b68db9;"></div>
</div>

